# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
.gradle-tmp

# vscode
.vscode

#.dbg
.dbg

# other
eclipse
run
runs
run-data
net
repo

othermods
crashreport
.cursor
.cache
.codex
# external reference code
references/


.workbuddy
.workbuddy-ai
